<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Metas -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <meta name="author" content="" />

    <!-- Title  -->
    <title>Encryptor</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="Encryptor/img/favicon.ico" />

    <!-- Plugins -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/plugins.css') }}"
    />

    <!-- Core Style Css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
  </head>

  <body
    data-new-gr-c-s-check-loaded="14.1006.0"
    data-gr-ext-installed=""
    class="vsc-initialized"
  >
    <!-- =====================================
    	==== Start Loading -->

    <div class="loading" style="display: none">
      <div class="text-center middle">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <!-- End Loading ====
    	======================================= -->

    <!-- =====================================
    	==== Start Navbar -->

    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="/">
          <h4 class="styled-font">Encryptor</h4>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="Encryptor/creative.html#"
                data-scroll-nav="0"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="1"
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="2"
                >Portfolio</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="3"
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="4"
                >Price</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="5"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Encryptor/creative.html#"
                data-scroll-nav="6"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar ====
    	======================================= -->

    <!-- =====================================
    	==== Start Header -->

    <header
      class="header valign bg-img creative"
      data-scroll-index="0"
      data-overlay-dark="5"
      data-background="static/images/back.jpg"
      data-stellar-background-ratio="0.5"
      style="
        background-image: url('static/images/back.jpg');
        background-position: 0px 0px;
      "
    >
      <div class="svg">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
          <polygon
            points="-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300"
          ></polygon>
        </svg>
      </div>

      <div class="container">
        <div class="row p-5" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="full-width text-center caption mt-30">
            <h3 class="text-white">We Are Creative</h3>
            <h1 class="cd-headline clip">
              <span class="blc">The Way Of </span>
              <span class="cd-words-wrapper" style="width: 328.984px">
                <b class="is-visible">Success</b>
                <b class="is-hidden">Grow Up</b>
                <b class="is-hidden">Dream</b>
              </span>
            </h1>
            <p>
              A single place to share, curate and discover visual that tells a
              story.
            </p>
            <a href="Encryptor/creative.html#0" class="butn butn-bord">
              <span>Learn More</span>
            </a>
            <a href="Encryptor/creative.html#0" class="butn butn-bg">
              <span>Get Started</span>
            </a>
          </div>
        </div>
      </div>

      <div class="arrow">
        <a href="Encryptor/creative.html#" data-scroll-nav="1" class="">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </header>

    <!-- End Header ====
    	======================================= -->

    <!-- =====================================
    	==== Start Footer -->
    <footer class="text-center">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="Encryptor/creative.html#">
          <h3 class="styled-font text-white">Encryptor</h3>
        </a>

        <div class="social">
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-facebook"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-twitter"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-instagram"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-brand-linkedin"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-behance"></i
          ></a>
        </div>

        <p>© 2021 Encryptor. All Rights Reserved.</p>
      </div>
    </footer>
    <!-- End Footer ====
    	======================================= -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename= 'js/jquery-3.0.0.min.js') }}"></script>

    <!-- popper.min -->
    <script src=".{{ url_for('static', filename= 'js/popper.min.js') }}"></script>

    <!-- bootstrap -->
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>

    <!-- animated.headline -->
    <script src=".{{ url_for('static', filename= 'js/animated.headline.js') }}"></script>
  </body>
</html>
