<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Metas -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <meta name="author" content="" />

    <!-- Title  -->
    <title>Encryptor</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="Encryptor/img/favicon.ico" />

    <!-- Plugins -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/plugins.css') }}"
    />

    <!-- Core Style Css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <style>
      html {
        scroll-behavior: smooth;
      }
      .disabled {
        cursor: not-allowed;
      }
    </style>
  </head>

  <body
    data-new-gr-c-s-check-loaded="14.1006.0"
    data-gr-ext-installed=""
    class="vsc-initialized"
  >
    <!-- =====================================
    	==== Start Loading -->

    <div class="loading" style="display: none">
      <div class="text-center middle">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <!-- End Loading ====
    	======================================= -->

    <!-- =====================================
    	==== Start Navbar -->

    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="/">
          <h4 class="styled-font" style="color: white !important">Encryptor</h4>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/" data-scroll-nav="0">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#About" data-scroll-nav="1">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Feedback" data-scroll-nav="2"
                >Feedback</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- End Navbar ====
    	======================================= -->

    <!-- =====================================
    	==== Start Header -->

    <header
      class="header valign bg-img creative"
      data-scroll-index="0"
      data-overlay-dark="5"
      data-background="static/images/back.jpg"
      data-stellar-background-ratio="0.5"
      style="
        background-image: url('static/images/back.jpg');
        background-position: 0px 0px;
      "
    >
      <div class="svg">
        <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
          <polygon
            points="-30,300 355.167,210.5 1432.5,290 1920,198.5 1920,300"
          ></polygon>
        </svg>
      </div>

      <div class="container">
        <div class="row p-4" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="full-width text-center caption mt-30 ml-4 mr-4">
            <h3 class="text-white">
              We Are <span class="styled-font">Encryptor</span>
            </h3>
            <h1 class="cd-headline clip">
              <span class="blc">We help</span>
              <span class="cd-words-wrapper" style="width: 328.984px">
                <b class="is-visible">Protect</b>
                <b class="is-hidden">Secure</b>
                <b class="is-hidden">Safe guard</b>
              </span>
            </h1>
            <form
              id="decryption-form"
              class="w-75 m-auto"
              method="POST"
              action=""
              id="form"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="key">File </label>
                <input
                  type="text"
                  placeholder="Enter any key"
                  name="dKey"
                  id="dKey"
                  required
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="file">File </label>
                <input
                  type="file"
                  required="required"
                  name="dFile"
                  id="dFile"
                  class="form-control"
                />
                <small
                  class="text-white d-none"
                  id="dError"
                  style="float: left"
                >
                  <span class="text-danger h5">*</span>File and key both are
                  required
                </small>
              </div>
              <br />

              <a id="submit-de" class="butn butn-bg">
                <span>Decrypt</span>
              </a>
            </form>
            <form
              id="encryption-form"
              class="w-75 m-auto"
              method="POST"
              action=""
              id="form"
              enctype="multipart/form-data"
            >
              <div class="form-group">
                <label for="key">File </label>
                <input
                  type="text"
                  placeholder="Enter any key"
                  name="key"
                  id="key"
                  class="form-control"
                />
              </div>
              <div class="form-check" style="float: left">
                <label class="form-check-label text-white">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="key-creator"
                    id="key-creator"
                  />
                  Let us create the key for you.
                </label>
              </div>
              <div class="form-group">
                <label for="file">File </label>
                <input
                  type="file"
                  required="required"
                  name="eFile"
                  id="eFile"
                  class="form-control"
                />
                <small class="text-white d-none" id="error" style="float: left">
                  <span class="text-danger h5">*</span>File is required
                </small>
              </div>

              <input type="hidden" name="type" id="type" value="encryption" />
              <br />

              <a id="submit-en" class="butn butn-bg">
                <span>Encrypt</span>
              </a>
            </form>
            <div id="loading" class="jumbotron text-center">Loading...</div>
            <br />
            <a class="butn butn-bord" id="show-decrypt">
              <span>Try Decryption</span>
            </a>
            <a class="butn butn-bord" id="show-encrypt">
              <span>Try Encryption</span>
            </a>
          </div>
        </div>
      </div>

      <div class="arrow">
        <a href="Encryptor/creative.html#" data-scroll-nav="1" class="">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </header>

    <!-- End Header ====
    	======================================= -->
    <div id="About" style="height: 500px">
      <h3>About</h3>
    </div>

    <div id="Feedback" style="height: 500px">
      <h1>Feedback</h1>
    </div>
    <!-- =====================================
    	==== Start Footer -->
    <footer class="text-center">
      <div class="container">
        <!-- Logo -->
        <a class="logo" href="Encryptor/creative.html#">
          <h3 class="styled-font text-white">Encryptor</h3>
        </a>

        <div class="social">
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-facebook"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-twitter"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-instagram"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-brand-linkedin"></i
          ></a>
          <a href="Encryptor/creative.html#0"
            ><i class="icofont icofont-social-behance"></i
          ></a>
        </div>

        <p>© 2021 Encryptor. All Rights Reserved.</p>
      </div>
    </footer>
    <!-- End Footer ====
    	======================================= -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename= 'js/jquery-3.0.0.min.js') }}"></script>

    <!-- popper.min -->
    <script src=".{{ url_for('static', filename= 'js/popper.min.js') }}"></script>

    <!-- bootstrap -->
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>

    <!-- animated.headline -->
    <script src=".{{ url_for('static', filename= 'js/animated.headline.js') }}"></script>
    <script>
      $(function () {
        enable_cb();
        $("#key-creator").click(enable_cb);
      });

      var encryptForm = document.getElementById("encryption-form");
      var decryptForm = document.getElementById("decryption-form");
      var loading = document.getElementById("loading");
      var encrypt = document.getElementById("show-encrypt");
      loading.style = "display: none";
      encryptForm.style = "display: none";
      decryptForm.style = "display: none";

      encrypt.onclick = function () {
        encryptForm.style = "display: none";
        decryptForm.style = "display: none";
        encrypt.style = "display: none";
        loading.style = "display: block";
        decrypt.style = "display: block";
        setTimeout(() => {
          loading.style = "display: none";
          encryptForm.style = "display: block";
        }, 2000);
      };

      var decrypt = document.getElementById("show-decrypt");
      decrypt.onclick = function () {
        console.log("decrupt");
        encryptForm.style = "display: none";
        decryptForm.style = "display: none";
        loading.style = "display: block";
        encrypt.style = "display: block";
        decrypt.style = "display: none";

        setTimeout(() => {
          loading.style = "display: none";
          decryptForm.style = "display: block";
        }, 2000);
      };

      // $("#show-encrypt").on("click", function () {
      //   $("#decryption-form").css("display", "none");
      //   $("#encryption-form").css("display", "none");
      //   $("#loading").removeClass("d-none");
      //   //   setInterval(() => {
      //   //     $("#loading").addClass("d-none");
      //   //     $("#encryption-form").removeClass("d-none");
      //   //   }, 2000);
      // });

      // $("#show-decrypt").on("click", function () {
      //   $("#encryption-form").css("display", "none");
      //   $("#decryption-form").css("display", "none");
      //   $("#loading").removeClass("d-none");
      //   setInterval(() => {
      //     $("#loading").addClass("d-none");
      //     $("#decryption-form").css("display", "block");
      //   }, 2000);
      // });

      function enable_cb() {
        if (this.checked) {
          $("#key").addClass("disabled");
          $("#key").attr("disabled", "disabled");
        } else {
          $("#key").removeAttr("disabled");
          $("#key").removeClass("disabled");
        }
      }

      $("#submit-en").on("click", function (e) {
        e.preventDefault();
        console.log("Da");
        if ($("#eFile").val()) {
          $("#encryption-form").submit();
        } else $("#error").removeClass("d-none");
      });

      $("#submit-de").on("click", function (e) {
        e.preventDefault();

        console.log("Das");
        console.log($("#dFile").val());
        console.log($("#dKey").text());
        if ($("#dFile").val() && $("#dKey").val()) {
          $("#decryption-form").submit();
        } else $("#dError").removeClass("d-none");
      });
    </script>
  </body>
</html>
